<div class="col-md-6 col-md-offset-3">
  <h2>Login</h2>
  <form (submit)="onSubmit($event)" name="form">
    <div class="form-group">
      <label>Username</label>
      <input type="text" name="username">
      <div class="help-block">
        <div ng-message="required">Username is required</div>
      </div>
    </div>
    <div class="form-group">
      <label>Password</label>
      <input type="password" name="password">
      <div class="help-block">
        <div ng-message="required">Password is required</div>
      </div>
    </div>
    <div class="form-group">
      <!--<button class="btn btn-primary" type="button">Login</button>-->
      <input type="submit" value="Login">
      <img src=""/>
    </div>

  </form>
</div>
