<!-- Message Container -->

<div class="bg">
  <div class="container ">
    <h6 class="purple-text"><i class="fa fa-plane"></i><strong> Travel</strong></h6>
    <div class="starter-template text-white text-center  align-items-center ">

      <h1 class="h1-responsive">ME + YOU</h1>
      <p class="lead ">We can do this together.</p>
      <a class="btn btn-secondary btn-rounded"><i class="fa fa-clone left"></i> View project</a>
    </div>


<!-- <div class="typewriter" style="background-image: url();background-color:;">
  <div style="float:left; padding-top:200px;padding-down:200px;padding-left: 50px;font-size: 80px;">
    <h2 style="font-size: 80px;color:#F4D03F;">Growing Together. </h2>
  </div>
</div> -->
</div>
