.container-fluid{
  background-color: rgba(233, 236, 239, 0.6);
  padding: 40px 40px 0px 0px;
}

.sidenav {
  height: 100%;
  width: 200px;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #4255ff;
  overflow-x: hidden;
  padding-top: 80px;
}

.sidenav a {
  padding: 6px 6px 6px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #fff;
  display: block;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.main {
  margin-left: 200px; /* Same as the width of the sidenav */
}
.card {
  float: right;
  width: 100%;
  padding: .75rem;
  margin-bottom: 2rem;
  border: 0;
}

