

<div class="content">
  <div class="container-fluid">

    <div class="sidenav">
      <a href="#">Dashboard</a>
      <a href="#">Tasks</a>
      <a href="#">Inbox</a>
      <a href="#">Opportunities</a>
    </div>

    <div class="row main">
      <div class="col-md-12 ">
        <div class="card">
          <div class="header">
            <h4 class="title">How are you feeling today </h4>
            <p class="category">Here is a subtitle for this table</p>
          </div>
          <div class="content table-responsive table-full-width">


          </div>
        </div>
      </div>


      <div class="col-md-12">
        <div class="card card-plain">
          <div class="header">
            <h4 class="title">Mentor Details</h4>
            <p class="category">Everthing you need to know ahead of time</p>
          </div>
          <div class="content table-responsive table-full-width">

            <ul>
              <li>Name</li>
              <li>Company</li>
              <li>Email</li>
              <li>Name</li>
            </ul>


          </div>
        </div>
      </div>

      <div class="col-md-12">
        <div class="card card-plain">
          <div class="header">
            <h4 class="title">Upcoming Task</h4>
            <p class="category">Everthing you need to know ahead of time</p>

            <div class="alert alert-info alert-with-icon" data-notify="container">
              <button type="button" aria-hidden="true" class="close">×</button>
              <span data-notify="icon" class="pe-7s-bell"></span>
              <span data-notify="message">This is a notification with close button and icon and have many lines. You can see that the icon and the close button are always vertically aligned. This is a beautiful notification. So you don't have to worry about the style.</span>
            </div>
          </div>
          <div class="content table-responsive table-full-width alert alert-info alert-with-icon " data-notify="container">
            <div class="row">
            <div class="col-md-4">
              <div class="card card-blockquote">
                <h4>One</h4>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card card-blockquote">
                <h4>Two</h4>

              </div>
            </div>
            <div class="col-md-4">
              <div class="card card-blockquote">
                <h4>Three</h4>
              </div>
            </div>
          </div>
          </div>
        </div>
      </div>


    </div>
  </div>
</div>
