

<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="header">
            <h4 class="title">How are you feeling today </h4>
            <p class="category">Here is a subtitle for this table</p>
          </div>
          <div class="content table-responsive table-full-width">


          </div>
        </div>
      </div>


      <div class="col-md-12">
        <div class="card card-plain">
          <div class="header">
            <h4 class="title">Mentor Details</h4>
            <p class="category">Everthing you need to know ahead of time</p>
          </div>
          <div class="content table-responsive table-full-width">

            <ul>
              <li>Name</li>
              <li>Company</li>
              <li>Email</li>
              <li>Name</li>
            </ul>


          </div>
        </div>
      </div>

      <div class="col-md-12">
        <div class="card card-plain">
          <div class="header">
            <h4 class="title">Upcoming Task</h4>
            <p class="category">Everthing you need to know ahead of time</p>
          </div>
          <div class="content table-responsive table-full-width">
            <div class="row">
            <div class="col-md-4">
              <div class="card card-blockquote">
                <h4>One</h4>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card card-blockquote">
                <h4>Two</h4>

              </div>
            </div>
            <div class="col-md-4">
              <div class="card card-blockquote">
                <h4>Three</h4>
              </div>
            </div>
          </div>
          </div>
        </div>
      </div>


    </div>
  </div>
</div>
