.about-us {
  padding: 8rem 1.5rem;
  text-align: center;
  font-size: 12px;
  font-weight: 300;
  line-height: 1.6;
  font-family: Roboto,sans-serif;

}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
