<section>

  <div class="container">
    <div class="about-us ">
      <h1> Mission </h1>
      <p class="lead">Drawing collective knowledge and experience to  guide others academically and professionally.In regards to internationally acceptable standards in education and career as a country we lag behind. If this affects majority of us, then it becomes a bigger problem incumbent on us all.Starting this initiative will unleash our hidden potentially through gaining the right information and resources from the right people.

      </p>

      <h1> About Us </h1>
      <p class="lead">Drawing collective knowledge and experience to  guide others academically and professionally.In regards to internationally acceptable standards in education and career as a country we lag behind. If this affects majority of us, then it becomes a bigger problem incumbent on us all.Starting this initiative will unleash our hidden potentially through gaining the right information and resources from the right people.
        Drawing collective knowledge and experience to  guide others academically and professionally.In regards to internationally acceptable standards in education and career as a country we lag behind. If this affects majority of us, then it becomes a bigger problem incumbent on us all.Starting this initiative will unleash our hidden potentially through gaining the right information and resources from the right people.
        Drawing collective knowledge and experience to  guide others academically and professionally.In regards to internationally acceptable standards in education and career as a country we lag behind. If this affects majority of us, then it becomes a bigger problem incumbent on us all.Starting this initiative will unleash our hidden potentially through gaining the right information and resources from the right people.
      </p>
    </div>
  </div>
</section>
