<div class="jumbotron">
  <h1 class="display-3">Hello, world!</h1>
  <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
  <hr class="my-4">
  <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
  </p>
</div>
<h2>Mentor</h2>
    <div class="form-group">
      <label>Employer</label>
      <input type="text" name="Employer">
    </div>
    <div class="form-group">
      <label>Role</label>
      <input type="text" name="Role">
    </div>
    <div class="form-group">
      <label>Duration of Service</label>
      <input type="text" name="DOS">
    </div>
    <select name="Highest Level of Education">
      <option value="Diploma">Diploma</option>
      <option value="Bachelors">Bachelors</option>
      <option value="Masters">Masters</option>
      <option value="Doctrate">Doctrate</option>
    </select>
    <div class="form-group">
      <label>Area of Interest</label>
      <input type="text" name="Email">
    </div>
    <div class="form-group">
      <label>Specialization</label>
      <input type="text" name="Email">
    </div>
    <div class="form-group row">
      <label class="col-md-3 form-control-label" for="file-multiple-input">Multiple File input</label>
        <div class="col-md-9">
          <input type="file" id="file-multiple-input" name="file-multiple-input" multiple>
        </div>
    </div>
    <div class="form-group">
      <label>Gender of Mentee</label>
      <input type="text" name="Email">
    </div>
    <select name="In Person or Virtual">
      <option value="In Person">In Person</option>
      <option value="Virtual">Virtual</option>
    </select>

<div class="card-footer">
  <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-dot-circle-o"></i> Submit</button>
  <button type="reset" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i> Reset</button>
</div>

