<!--NAVBAR-->
<!--header is home page -->
<div>
<header>
  <ul class="topnav">
    <li routerLinkActive="active"><a routerLink="/header">Home</a></li>
    <li routerLinkActive="active"><a routerLink="/sign-up">Sign Up</a></li>
    <li routerLinkActive="active"><a routerLink="/sign-in">Sign In</a></li>
    <li routerLinkActive="active"><a routerLink="/search-mentor">Search</a></li>
    <li routerLinkActive="active"><a routerLink="/about">About</a></li>
    <li routerLinkActive="active" style="float: right;"><a routerLink="/about">Hello!</a></li>
  </ul>
</header>
</div>


<router-outlet></router-outlet>


<!-- Footer -->
<footer class="navbar-fixed-bottom text-center">
  <div class="row">
    <div class="col-sm-3"><p></p></div>
    <div class="col-sm-3"> ©
      <script type="text/javascript">
        document.write(new Date().getFullYear());
      </script>
      Peer Connect Ghana
    </div>
    <div class="col-sm-2"><a href="Terms and Conditions.html"> Terms and Conditions </a></div>
  </div>
</footer>




