<!--NAVBAR-->
<!--header is home page -->

<div class="jumbotron-fluid">
<header>
  <ul class="topnav">
    <li routerLinkActive="active"><a routerLink="/header">Home</a></li>
    <li routerLinkActive="active"><a routerLink="/sign-up">Sign Up</a></li>
    <li routerLinkActive="active"><a routerLink="/sign-in">Sign In</a></li>
    <li routerLinkActive="active"><a routerLink="/search-display">Search</a></li>
    <li routerLinkActive="active"><a routerLink="/about">About</a></li>
    <li routerLinkActive="active"><a routerLink="/footer">LandingPage</a></li>
    <li routerLinkActive="active" style="float: right;"><a routerLink="/about">Hello!</a></li>
  </ul>
</header>
</div>


<router-outlet></router-outlet>

<!--Footer-->
<footer class="page-footer indigo center-on-small-only pt-0 fixed-bottom">

  <!--Footer Links-->
  <div class="container">

  <!--Copyright-->
  <div class="footer-copyright">
    <div class="container-fluid">
      © 2016 Copyright: <a href=""> Gyedze.com </a>
    </div>
  </div>
  <!--/Copyright-->
  </div>
</footer>
<!--/Footer-->









