<div class="app flex-row align-items-center">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card mx-4">
          <div class="card-block p-4">
    <form>
      <h2>Register</h2>
            <div class="col-sm-12">
              <div class="form-group">
                <label for="fname">First Name</label>
                <input type="text" class="form-control" id="fname" placeholder="First Name">
              </div>
            </div>
            <div class="col-sm-12">
              <div class="form-group">
                <label for="lname">Last Name</label>
                <input type="text" class="form-control" id="lname" placeholder="Last Name">
              </div>
            </div>
            <div class="col-sm-12">
              <div class="form-group">
                  <label for="school">University</label>
                  <input type="text" class="form-control" id="School" placeholder="University">
                </div>
              </div>
            <div class="col-sm-12">
              <div class="form-group">
                <label for="gpa">GPA</label>
                <input type="text" class="form-control" id="GPA" placeholder="GPA">
              </div>
            </div>
            <div class="col-sm-12">
              <div class="form-group">
                <label for="YOG">Year of Graduation</label>
                <input type="text" class="form-control" id="YOG" name="Year of Graduation">
              </div>
            </div>
            <div class="col-sm-12">
              <div class="form-group">
                <label for="AOI"> Area of Interest</label>
                <input type="text" class="form-control" id="AOI" placeholder="Area of Interest">
              </div>
            </div>
            <div class="col-sm-12">
              <div class="form-group">
                <label for="spec">Specialization</label>
                <input type="text" class="form-control" id="spec" placeholder="Specialization">
              </div>
            </div>
            <div class="col-sm-12">
              <div class="form-group">
                <label for="gender">Gender</label>
                <input type="text"class="form-control" id="gender" placeholder="Gender">
              </div>
            </div>
            <div class="col-sm-12" >
              <div class="form-group">
                <label>Mentoring Options</label>
                <select name="In Person or Virtual">
                <option value="In Person">In Person</option>
                <option value="Virtual">Virtual</option>
                </select>
              </div>
            </div>
            <h2>Login Credentials </h2>
            <div class="col-sm-12">
              <div class="form-group">
                <label for="email">Email Address</label>
                <input type="text" class="form-control" id="email" placeholder="Email">
              </div>
            </div>
            <div class="col-sm-12">
              <div class="form-group">
                <label for="password">Password</label>
                <input type="text" class="form-control" id="password" placeholder="Password">
              </div>
            </div>
    <div class="col-sm-12" >
    <div class="form-group">
      <button class="btn btn-primary"> Complete</button>
      <img src=""/>
    </div>
      </div>
    </form>
</div>
</div>
</div>
</div>
<div>
</div>
  </div>
</div>

